body{
  margin:0;
  background:#0b1220;
  font-family:Arial,sans-serif;
}

.app{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card{
  width:600px;
  background:#162133;
  border-radius:18px;
  padding:30px;
  box-shadow:0 0 40px rgba(0,255,255,.15);
}

h1{
  text-align:center;
  color:#5ad7ff;
  margin:0;
}

.subtitle{
  text-align:center;
  color:#bbb;
}

.status{
  text-align:center;
  color:#4cff72;
  margin:20px 0;
}

.chatWindow{
  height:220px;
  background:#0f172a;
  border-radius:12px;
  padding:15px;
  overflow:auto;
  margin-bottom:20px;
}

.message{
  color:white;
}

input{
  width:100%;
  padding:14px;
  border-radius:10px;
  border:none;
  box-sizing:border-box;
  margin-bottom:15px;
}

button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:10px;
  background:#39d5ff;
  color:black;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  background:#68e3ff;
}

.menu{
  display:flex;
  justify-content:space-between;
  margin-top:25px;
  color:#8ea3b7;
}